Instalando bibliotecas:

In [ ]:
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn

Importando bibliotecas:

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Criar dataframes dos arquivos .csv e realizar as primeiras análises:

## Arquivo 01, "olist_customers_dataset.csv":
Criar dataframe e visualizar as primeiras linhas.

In [12]:
df_customers = pd.read_csv('./dataset/olist_customers_dataset.csv', sep=",")
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

Verificar os tipos de dados e colunas do dataframe:

In [6]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

Verificar valores nulos do dataframe:

In [7]:
df_customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Verificar valores duplicados:

In [16]:
duplicate_value = df_customers.duplicated()
print(f"Total de valores duplicados: {duplicate_value.sum()}")

Total de valores duplicados: 0

Verificar a estatística das colunas textuais do dataframe:

In [14]:
df_customers.describe(include=['object'])

,customer_id,customer_unique_id,customer_city,customer_state
count,99441,99441,99441,99441
unique,99441,96096,4119,27
top,06b8999e2fba1a1fbc88172c00ba8bc7,8d50f5eadf50201ccdcedfb9e2ac8455,sao paulo,SP
freq,1,17,15540,41746

## Arquivo 02, "olist_geolocation_dataset.csv":
Criar dataframe e visualizar as primeiras linhas.