# Tratamento dos dados.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Arquivo 02, dataset geolocation: Tratar valores duplicados:
Apresentando o que ser tratado e a solução.

In [14]:
df_geolocation = pd.read_csv('./dataset/olist_geolocation_dataset.csv', sep=",")

In [18]:
duplicate_value_geolocation = df_geolocation.duplicated()
print(f"Total de valores duplicados: {duplicate_value_geolocation.sum()}")

Total de valores duplicados: 261831

In [15]:
df_geolocation_treated = df_geolocation.drop_duplicates()
print(f"Total de valores duplicados após remoção: {df_geolocation_treated.duplicated().sum()}")

Total de valores duplicados após remoção: 0

In [6]:
df_geolocation_treated.info()

<class 'pandas.core.frame.DataFrame'>
Index: 738332 entries, 0 to 1000161
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   geolocation_zip_code_prefix  738332 non-null  int64
 1   geolocation_lat              738332 non-null  float64
 2   geolocation_lng              738332 non-null  float64
 3   geolocation_city             738332 non-null  object
 4   geolocation_state            738332 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 33.8+ MB

## Arquivo 03, dataset order_items: Coluna shipping_limit_date, object para date.
Apresentando o que ser tratado e a solução.

In [19]:
df_order_items = pd.read_csv('./dataset/olist_order_items_dataset.csv', sep=",")

df_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [20]:
df_order_items_treated = df_order_items

df_order_items_treated['shipping_limit_date'] = pd.to_datetime(df_order_items_treated['shipping_limit_date'])

df_order_items_treated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

## Arquivo 05, dataset order_reviews: Colunas review_comment_title e review_comment_message, valores NaN e nulos. Colunas review_creation_date e review_answer_timestamp, object para date.
Apresentando o que ser tratado e a solução.

In [21]:
df_order_reviews = pd.read_csv('./dataset/olist_order_reviews_dataset.csv', sep=",")

### Colunas review_creation_date e review_answer_timestamp, object para date.

In [17]:
df_order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [22]:
df_order_reviews_treated = df_order_reviews

df_order_reviews_treated['review_creation_date'] = pd.to_datetime(df_order_reviews_treated['review_creation_date'])
df_order_reviews_treated['review_answer_timestamp'] = pd.to_datetime(df_order_reviews_treated['review_answer_timestamp'])

df_order_reviews_treated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

### Colunas review_comment_title e review_comment_message, valores NaN e nulos.

In [25]:
df_order_reviews_treated.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [23]:
df_order_reviews_treated.fillna("Não informado")

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,Não informado,Não informado,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,Não informado,Não informado,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,Não informado,Não informado,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,Não informado,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,Não informado,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,Não informado,Não informado,2018-07-07,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,Não informado,Não informado,2017-12-09,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,Não informado,"Excelente mochila, entrega super rápida. Super...",2018-03-22,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,Não informado,Não informado,2018-07-01,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,Não informado,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03 21:01:49

In [31]:
df_order_items_treated.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

## Arquivo 06, dataset orders: Colunas order_purchase_timestamp, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, object para date.
Apresentando o que ser tratado e a solução.

### Colunas order_purchase_timestamp, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, object para date.

In [24]:
df_orders = pd.read_csv('./dataset/olist_orders_dataset.csv', sep=",")

df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [25]:
df_orders_treated = df_orders

df_orders_treated['order_approved_at'] = pd.to_datetime(df_orders_treated['order_approved_at'])
df_orders_treated['order_delivered_carrier_date'] = pd.to_datetime(df_orders_treated['order_delivered_carrier_date'])
df_orders_treated['order_delivered_customer_date'] = pd.to_datetime(df_orders_treated['order_delivered_customer_date'])
df_orders_treated['order_estimated_delivery_date'] = pd.to_datetime(df_orders_treated['order_estimated_delivery_date'])

df_orders_treated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](4), object(4)
memory usage: 6.1+ MB

## Arquivo 07, dataset products: COLUNAS product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm, VALORES NULOS.
Apresentando o que ser tratado e a solução.
Será considerado usar os valores médios (Mean) para substituir os nulos. Para a coluna product_category_name será considerado "nao_informado".

In [26]:
df_products = pd.read_csv('./dataset/olist_products_dataset.csv', sep=",")

df_products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [56]:
df_products.describe().loc['mean'].round()

product_name_lenght             48.0
product_description_lenght     771.0
product_photos_qty               2.0
product_weight_g              2276.0
product_length_cm               31.0
product_height_cm               17.0
product_width_cm                23.0
Name: mean, dtype: float64

In [28]:
df_products_treated = df_products

df_products_treated['product_category_name'] = df_products_treated['product_category_name'].fillna("nao_informado")
df_products_treated['product_name_lenght'] = df_products_treated['product_name_lenght'].fillna(48)
df_products_treated['product_description_lenght'] = df_products_treated['product_description_lenght'].fillna(771)
df_products_treated['product_photos_qty'] = df_products_treated['product_photos_qty'].fillna(2)
df_products_treated['product_weight_g'] = df_products_treated['product_weight_g'].fillna(2276)
df_products_treated['product_length_cm'] = df_products_treated['product_length_cm'].fillna(31)
df_products_treated['product_height_cm'] = df_products_treated['product_height_cm'].fillna(17)
df_products_treated['product_width_cm'] = df_products_treated['product_width_cm'].fillna(23)

In [29]:
df_products_treated.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

## Resumo dos dataframes a serem consumidos no banco de dados:

df_customers <br>
df_geolocation_treated <br>
df_order_items_treated <br>
df_order_payments <br>
df_order_reviews_treated <br>
df_orders_treated <br>
df_products_treated <br>
df_sellers <br>
df_product_category_name_translation

# Conexão com o banco de dados.

In [ ]:
!pip install sqlalchemy psycopg2 pandas

In [11]:
from sqlalchemy import create_engine

# Conexão
usuario = "postgres"
senha = "216879"
host = "localhost"
porta = "5432"
banco = "db_triggo_ai"

# Criando engine de conexão
engine = create_engine(f"postgresql+psycopg2://{usuario}:{senha}@{host}:{porta}/{banco}")

## Enviando "dataframes finais" para o banco de dados "db_triggo_ai" no PostgreSQL.

In [31]:
import pandas as pd

nome_tabela = "customers"
df_customers = pd.read_csv('./dataset/olist_customers_dataset.csv', sep=",")
df_customers.to_sql(nome_tabela, engine, if_exists='replace', index=False)

441

In [ ]:
nome_tabela = "geolocation"
df_geolocation_treated.to_sql(nome_tabela, engine, if_exists='replace', index=False)

In [30]:
nome_tabela = "order_items"
df_order_items_treated.to_sql(nome_tabela, engine, if_exists='replace', index=False)

650

In [32]:
nome_tabela = "order_payments"
df_order_payments = pd.read_csv('./dataset/olist_order_payments_dataset.csv', sep=",")
df_order_payments.to_sql(nome_tabela, engine, if_exists='replace', index=False)

886

In [33]:
nome_tabela = "order_reviews"
df_order_reviews_treated.to_sql(nome_tabela, engine, if_exists='replace', index=False)

224

In [34]:
nome_tabela = "orders"
df_orders_treated.to_sql(nome_tabela, engine, if_exists='replace', index=False)

441

In [35]:
nome_tabela = "products"
df_products_treated.to_sql(nome_tabela, engine, if_exists='replace', index=False)

951

In [36]:
nome_tabela = "sellers"
df_sellers = pd.read_csv('./dataset/olist_sellers_dataset.csv', sep=",")
df_sellers.to_sql(nome_tabela, engine, if_exists='replace', index=False)

95

In [37]:
nome_tabela = "product_category_name_translation"
df_product_category_name_translation = pd.read_csv('./dataset/product_category_name_translation.csv', sep=",")
df_product_category_name_translation.to_sql(nome_tabela, engine, if_exists='replace', index=False)

71