# Tratamento dos dados.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## dataset geolocation: Tratar valores duplicados:
Apresentando o que ser tratado e a solução.

In [3]:
df_geolocation = pd.read_csv('./dataset/olist_geolocation_dataset.csv', sep=",")

In [4]:
duplicate_value_geolocation = df_geolocation.duplicated()
print(f"Total de valores duplicados: {duplicate_value_geolocation.sum()}")

Total de valores duplicados: 261831

In [5]:
df_geolocation_treated = df_geolocation.drop_duplicates()
print(f"Total de valores duplicados após remoção: {df_geolocation_treated.duplicated().sum()}")

Total de valores duplicados após remoção: 0

In [6]:
df_geolocation_treated.info()

<class 'pandas.core.frame.DataFrame'>
Index: 738332 entries, 0 to 1000161
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   geolocation_zip_code_prefix  738332 non-null  int64
 1   geolocation_lat              738332 non-null  float64
 2   geolocation_lng              738332 non-null  float64
 3   geolocation_city             738332 non-null  object
 4   geolocation_state            738332 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 33.8+ MB

## dataset order_items: Coluna shipping_limit_date, object para date.
Apresentando o que ser tratado e a solução.

In [8]:
df_order_items = pd.read_csv('./dataset/olist_order_items_dataset.csv', sep=",")
df_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [12]:
df_order_items_treated = df_order_items
df_order_items_treated['shipping_limit_date'] = pd.to_datetime(df_order_items_treated['shipping_limit_date'])
df_order_items_treated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB